##  Open MongoDB compass to visually see what each python commands does

You'll see below screen -

> ![first screen](mongo_img/compass/c1.JPG)

### STEP 1: Create a DB

In [1]:
import pymongo

In [2]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "SeunDB"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]

---

### Paste the default URL in highlighted area of the Compass tool as shown below and click on connect
default URL for local system:- 
```
mongodb://localhost:27017/
```

> ![new connection](mongo_img/compass/c2.JPG)

after you press connect you'll see the following screen which contains already existing databases

> ![new connection](mongo_img/compass/c3.JPG)


**NOTE** you'll not see your database untill or unless you have created first document inside it. So at present we don't have any document in our DB its name is not visible here 

You can also create a database by clicking on CREATE DATABSE button. You'll see a below screen (But we'll see eveyrthing using python)

> ![new connection](mongo_img/compass/c4.JPG)

In [3]:
# lets see what the existing list of DBs -

client.list_database_names()

['admin', 'config', 'local']

In [4]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'SeunDB' not yet present OR no collection is present in the DB

### STEP 2: Create a collection

In [5]:
COLLECTION_NAME = "SEUN_Products"
collection = dataBase[COLLECTION_NAME]

In [6]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'SEUN_Products' in Database:'SeunDB' does not exists OR
    no documents are present in the collection

### STEP 3: Insert a record in the collection

In [7]:
record = {'companyName': 'SEUN Glow',
         'product': 'Skin Success',
         'Productcollection': 'Skin Beauty Body Cream'}

collection.insert_one(record)

In [8]:
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'SEUN_Products' in Database:'SeunDB' exists

Now you can verify in Compass that SeunDB DB exists: -

> ![verify Db](Mongo_db.PNG)
> **NOTE**: You may need to click refresh button if your DB is not visible here.

You'll find collection name here- 
> ![verify Collection](img2.PNG)

Verify your inserted record with a unique id which is given by mongoDB by default -
> ![check inserted document](Img3.PNG)

Let's reverify whether our database and collection exists or not by using the function that we have defined before.

In [9]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'SeunDB' exists

In [10]:
# Verify COLLECTION
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'SEUN_Products' in Database:'SeunDB' exists

### STEP 4: Insert multiple records

In [11]:

list_of_records = [
    {'companyName': 'Seun Hair Collection',
     'product': 'Affordable Hair',
     'producttype': 'Bone Straight'},
    
    {'companyName': 'SEUN Glow',
         'product': 'Skin Success',
         'Productcollection': 'Skin Beauty Body Cream'},
    
    {'companyName': 'SEUN Glow',
         'product': 'Hair Shine ',
         'Productcollection': 'Hair Beauty Cream'}
]

rec = collection.insert_many(list_of_records)

In [12]:
# lets print he unique ID that of the record that we have inserted -
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 602ca1345d19ef9a558b9833
1. 602ca1345d19ef9a558b9834
2. 602ca1345d19ef9a558b9835

We can verify the inserted records by refreshing our compass document-

> ![inserted list of records](Img4.PNG)

You can override the default unique Id by giving a user defined as shown below -

In [13]:
COLLECTION_NAME = "Seun_Collection"
faculties = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
    "companyName": "SeunCollection",
    "Faculty": "Oluwaseun Tope"},
    {"_id": "2",
    "companyName": "SeunCollection",
    "Faculty": "Seun Oyero"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

refresh the Compass tool and you'll see a fresh collection is created by name Seun_Collection
and this time _id is defined by us. Refer the highlighted portion of the image below:- 
    
> ![unique_id](Img6.PNG)

> **NOTE**: Make sure the \_id of the records that you insert are unique other wise you'll get a _BulkWriteError_ which comes because of duplicate key

### STEP 5: Find method in MongoDB

In [14]:
find_first_record = faculties.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
Seun_Collection is=
{'_id': '1', 'companyName': 'SeunCollection', 'Faculty': 'Oluwaseun Tope'}

In [15]:
# find all the record at once present in thr record with all the fields
all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'companyName': 'SeunCollection', 'Faculty': 'Oluwaseun Tope'}
1: {'_id': '2', 'companyName': 'SeunCollection', 'Faculty': 'Seun Oyero'}

In [16]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'Faculty': 'Oluwaseun Tope'}
1: {'_id': '2', 'Faculty': 'Seun Oyero'}

### STEP 6: Query or filter out data in MongoDB

In [17]:
query1 = {"_id": '1'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '1', 'companyName': 'SeunCollection', 'Faculty': 'Oluwaseun Tope'}

In [18]:
query2 = {"_id": {"$gt": "1"}}

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '2', 'companyName': 'SeunCollection', 'Faculty': 'Seun Oyero'}

### STEP 7: Delete one or many documents in MongoDB

In [19]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'Seun', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'Seun', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'Seun', 'Faculty': 'PQR'},
]

faculties.insert_many(random_data)

In [20]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)

In [21]:
# lets delete multiple record
multi_query_to_delete = {"_id": {"$gte": "4"}}

faculties.delete_many(multi_query_to_delete)

> **NOTE**: In order to delete all the documents present in the collection you can just pass and empty dictionary as shown below: -
```python
faculties.delete_many({})
```